#card {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
} 
.carta {
    display: flex;
    width: 100px;
    height: 140px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
} 
.carta img{
    width: 200px;
    height: 200px;
} 
#cartaFrente {
    transform: rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
}  
#cartaVerso:hover {
    transform: scale(1.025);
}
  