#card {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#cartaVerso:hover {
    transform: scale(1.05);
    float: center;
    /* box-shadow: 4px 4px 2px rgb(9, 9, 59);
    transition: all 0.25s; */
}
 
.carta {
    display: flex;
    width: 100px;
    height: 140px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
} 
.carta img{
    width: 200px;
    height: 200px;
} 
  .carta p {
    font-size: 100px;
    position: absolute;
} 
#cartaFrente {
    transform: rotateY(180deg);
}
.flip {
    transform: rotateY(180deg);
}  
  